.output {
	font-weight: bold;
	margin-top: 10px;
}

body {
	height: 100vh;
	display: flex;
	background-color: #1a1f1a;
	justify-content: center;
	align-items: center;
	font-family: "Segoe UI", Tahoma, Arial, sans-serif;
}

.container {
	background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)),
		url(../images/background.png);
	background-size: cover;
	width: 500px;
	min-height: 500px;
}

.container-inner {
	width: 302px;
	margin: 0 auto;
	text-align: center;
}

p {
	color: #fff;
	margin: 0;
}

img {
	margin: 40px auto;
	display: block;
	width: 300px;
	height: 267px;
	border: 1px solid black;
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.85);
	border-radius: 8px;

}


input,
button {
	border-radius: 4px;
	border: none;
	padding: 6px 12px;
	font-size: 14px;
}

button {
	background-color: #22382a;
	color: white;
	cursor: pointer;
}


summary {
	cursor: pointer;
	color: white;
	font-weight: 600;
}


.command {
	font-size: 70%;
	margin: 0;
}


.minimap {
	display: grid;
	grid-template-columns: repeat(3, 80px);
	grid-template-rows: repeat(3, 55px);
	gap: 2px;
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 11px;
	padding-left: 26px;

}

.minimap div {
	border: 1px solid #333;
	background: #eee;
	text-align: center;
	padding: 4px;
	height: 55px;
	/* must match grid row height */
	line-height: 55px;
	/* vertical centering */
	padding: 0;
	/* remove vertical padding */


}

.instructions {
	font-size: 12px;
	margin-bottom: 10px;
	margin-top: 15px;
}